<div class="footer">
    <div class="inner-footer">
        <h12>Quick Links</h12>
        <div class="borders"></div>
        <ul>
            <a href="#">
                <li>Home</li>
            </a>
            <a href="#">
                <li>About Us</li>
            </a>
            <a href="#">
                <li>Recipes</li>
            </a>
        </ul>
    </div>

    <div class="footer-items">
        <h13>Shop Now</h13>
        <div class="borders"></div>
        <ul>
            <a href="#">
                <li></li>
            </a>
        </ul>
    </div>

</div>
